name: Node benchmarks

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 1 * *'

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Check out repo
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        check-latest: true
        node-version: 20

    - name: Install dependencies
      run: npm i --ignore-scripts

    - name: Build SvelteKit
      working-directory: benchmarks/sveltekit-app
      run: npm run build

    - name: Run benchmarks
      run: npm start y 100 10 40

    - name: Compare results
      run: |
        node ./benchmark compare -t
        node ./benchmark compare -u

    - name: Commit and push updated results
      uses: github-actions-x/commit@722d56b8968bf00ced78407bbe2ead81062d8baa # v2.9
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'main'
        commit-message: 'chore: update benchmark results'
        force-add: 'true'
        rebase: 'true'
        files: benchmark-results.json README.md
        name: Github Actions
        email: <>
