name: Node Metrics

on:
  workflow_dispatch:
  push:
    branches:
      - main

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Check out repo
      uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        check-latest: true
        node-version: 20

    - name: Install dependencies
      run: npm i --ignore-scripts

    - name: Run metrics
      run: |
        npm run metrics:run
        npm run metrics:summary

    - name: Commit and push updated results
      uses: github-actions-x/commit@722d56b8968bf00ced78407bbe2ead81062d8baa # v2.9
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'main'
        commit-message: 'chore: update metrics results'
        force-add: 'true'
        rebase: 'true'
        files: METRICS.md
        name: Github Actions
        email: <>
